*{
    margin: 0;
    padding: 0;
}
header{
    height: 250vh;
    background-image: url(https://wallpapercave.com/wp/wp6662481.jpg);
    background-position: center;
    background-size: cover;
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
    position: relative;
}
.leader h1{
    text-align: center;
    color: red;
    padding-top: 5%;

}
.content p{
    padding-top: 5%;
    font-size: 20px;

}
.content1 p{
    padding-top: 2%;
    font-size: 20px;

}
.content2 p{
    padding-top: 3%;
    font-size: 20px;
}
.content3 p{
    padding-top: 3%;
    font-size: 20px;
}