@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* display background color black on navbar */
.navbar{
    background-color: #000000;
}

/* hero background image */
.home {
    height:100vh;
    background: url("./img/home.jpg");
    opacity: 0.9;
  
}
/* text css above hero image*/
.hero_title {
    font-size: 4.5rem;
    color: black;
    font-weight: bold;
}
.hero_desc {
    font-size: 2rem;
    color: black;
    font-weight: 500;
}
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}


.about{
    height: 100vh;
    width: 100%;
    margin-top: 100px;
}
.about .col-lg-8{
    margin-top: 80px;
    font-size: 18px;
}

h1 {
    text-align: center;
    padding-bottom: 65px;
    color: black;
    text-transform: uppercase;
    letter-spacing: 15px;
  }
  .gallery {
    width: 1000px;
    margin: 0 auto;
    position: relative;
  }
  
  .gallery__photo {
    width: 250px;
    height: 250px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
    border-radius: 2px;
  
    position: absolute;
    transition: all 0.2s;
    z-index: 10;
    outline-offset: 20px;
  }
  
  .gallery__photo--p1 {
    top: 0;
    left: 0;
  }
  
  .gallery__photo--p2 {
    top: 0;
    right: 0;
    z-index: 1;
  }
  
  .gallery__photo--p3 {
    top: 40px;
    left: 20%;
  }
  
  .gallery__photo--p4 {
    top: 60px;
    left: 40%;
  }
  
  .gallery__photo--p5 {
    top: 40px;
    left: 60%;
    z-index: 2;
  }
  
  .gallery__photo:hover {
    outline: 15px solid green;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.5);
    transform: scale(1.05) translateY(-20px);
    z-index: 20;
  }
  .gallery:hover .gallery__photo:not(:hover) {
    transform: scale(0.9);
  }

 
    
.gallery{
    height: 100vh;
    width: 90%;
    margin-top: 100px;
}
  


.hobbies .text-center{
    margin-bottom: 50px;
}
.hobbies .card{
    background-color: #000000;
}
.hobbies .card-title{
    color: white;
}
.hobbies .card-text{
    color: white;
}
.hobbies .btn{
    background-color: green;
    color: white;
}
.hobbies .btn:hover{
    background-color: black;
    color: green;
}

.contact {
    padding-bottom: 4rem;

}
.contact .text-center{
    margin-top: 20vh;
}
.contact .btn{
    background-color: green;
    color: white;
}
.contact .btn:hover{
    background-color: black;
    color: white;
}
/* about section image css */
.imageAboutPage {
    width: 100%;
}

footer{
	position: relative;
	width: 100%;
	height: 400px;
	background: #101010;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
footer p:nth-child(1){
	font-size: 30px;
	color: white;
	margin-bottom: 20px;
	font-weight: bold;
}
footer p:nth-child(2){
	color: white;
	font-size: 17px;
	width: 500px;
	text-align: center;
	line-height: 26px;
}
footer .end{
    color: white;
}
.foot{
    color:green;
}


.social{
	display: flex;
}
.social a{
	width: 45px;
	height: 45px;
	display: flex;
	align-items: center;
	justify-content: center;
	background:  green;
	border-radius: 50%;
	margin: 22px 10px;
	color: white;
	text-decoration: none;
	font-size: 20px;
}
.social a:hover{
	transform: scale(1.3);
	transition: .3s;
    color: black;
}

