body {
  border: 0vh;
  margin: 0%;
  font-family: 'Josefin Sans';
  font-style: normal;
}

.navbar {
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.97);
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;



}

.navbar a {
  float: left;
  display: block;
  color: #ffffff;
  text-align: center;
  margin-top: 5px;
  padding: 17px 17px;
  text-decoration: none;
  font-size: 22px;
  transition: 0.3s;



}

.navbar a.port {
  float: left;
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 16px 16px;
  margin-right: 870px;
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 26px;
}

/*
.navbar a.port1:hover{
    background: #ddd;
    color: black;
}*/
.port1 {
  display: inline-block;
  position: relative;
  color: #04AA6D;
}

.port1:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 5px;
  bottom: 0;
  left: 0;
  background-color: #04AA6D;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.port1:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.header {
  padding: 250px 60px;
  text-align: center;
  color: #ffffff; 
  background-image: url(../images/hero-bg.jpg);
  background-size: cover;
   background-repeat: no-repeat;

}
.header2 {
  padding: 120px 60px;
  text-align: center;
  color: #ffffff; 
  background-image: url(../images/hero-bg.jpg);
  background-size: cover;
   background-repeat: no-repeat;

}

.header h1.head {
  font-size: 80px;
  font-weight: bold;
  margin-top: 5%;
  margin-bottom: 1%;

}

.header h3.head {
  font-size: 25px;
  font-weight: bold;

}

.header button {
  font-size: 12px;
}

.head1 {
  text-decoration: none;
  color: #FFFFFF;
}

.button-1 {
  background-color: #04AA6D;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: grab;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-1:hover,
.button-1:focus {
  background-color: #000000;
  color: rgb(255, 255, 255);
  transition: 0.3s;

}

.header1 {
  text-align: center;
  color: #ffffff;
  margin-top: 7vh;

}


.img1 {
  border-radius: 50%;
  margin-left: 5vh ;
  width: 68%;
  height: 68%;

}



.sidebar {
  margin-top: 8vh;
  width: 350px;
  background-color: #000000;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: rgb(255, 255, 255);
  padding: 16px;
  text-decoration: none;
}
 
.sidebar a.active {
  background-color: #000000;
  color: white;
}

.sidebar a:hover:not(.active1) {
  background-color: #04AA6D;
  color: white;

}

.sidebar .active1:hover{
  background-color: #04AA6D;
  color: white;
}
.sidebar a:hover:not(.active2) {
  background-color: #04AA6D;
  color: white;

}

.sidebar .active2:hover{
  background-color: #04AA6D;
  color: white;
}
.sidebar a:hover:not(.active3) {
  background-color: #04AA6D;
  color: white;

}

.sidebar .active3:hover{
  background-color: #04AA6D;
  color: white;
}
.sidebar a:hover:not(.active4) {
  background-color: #04AA6D;
  color: white;

}

.sidebar .active4:hover{
  background-color: #04AA6D;
  color: white;
}
.sidebar a:hover:not(.active5) {
  background-color: #04AA6D;
  color: white;

}

.sidebar .active5:hover{
  background-color: #04AA6D;
  color: white;
}
.active1{
  font-size: 20px;
  text-align: left;
  margin-left: 10px;
}
.active2{
  font-size: 20px;
  text-align: left;
  margin-left: 6px;
}
.active3{
  font-size: 20px;
  text-align: left;
  margin-left: 4px;
}
.active4{
  font-size: 20px;
  text-align: left;
  margin-left: 4px;
}.active5{
  font-size: 20px;
  text-align: left;
  margin-left: 4px;
}
div.content {
  padding: 50px 50px;
  height: 1000px;
  float: right;
  width: 899px;
  margin-right: 2vh;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 2vh;}
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}
.in{
  font-size: 20px;
  letter-spacing: 1px;
}

.line{
  margin-top: 2px;
  color: #04AA6D;
}
.h3{
  color: #04AA6D;


}
#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color:#04AA6D; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#myBtn:hover {
  background-color: rgb(0, 0, 0); /* Add a dark-grey background on hover */
}
.con{
  background-color: #ffffffc4;
  color: #000000;
  padding: 20px 20px;
  border-radius: 15px;
  width: 1140px;
  margin: 3vh;
  margin-top: 0%;
  text-align: left;
  align-items: center;
}
.pc{
  text-decoration: none;
  color: #000000;
}
.pc1{
  text-align: center;
}
.column {
  float: left;
  width: 28%;
  margin-left: 5vh; 
  padding: 5px;
}
.column1 {
  float: left;
  width: 45%;
  padding: 10px;
  margin-left: 10vh;
  margin-right: 2vh;
}

/* Clear floats after the columns */
.con:after {
  content: "";
  display: table;
  clear: both;
}